.Animation {
  position: relative;
  padding-top: calc(100vh - 20rem);
  margin-top: 2rem;
  flex: 1;
  width: calc(100% - 2rem);
  height: calc(100vh - 22rem);
  overflow: visible;
  contain: size layout style;
  z-index: -1;
}

.Animation::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: calc(100% - 2rem);
  height: calc(100vh - 22rem);
  transform: translate(-1rem, -1rem);
  border: 1rem solid #ab9df2;
  content: '';
  animation: first-before 12s ease-in-out infinite forwards;
  animation-delay: 7.17s;
  z-index: -1;
}

.Animation::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width: calc(100% - 2rem);
  height: calc(100vh - 22rem);
  transform: translate(1rem, 1rem);
  border: 1rem solid #ff6188;
  content: '';
  animation: first-after 7.17s linear infinite forwards;
  animation-delay: 9s;
  z-index: -1;
  opacity: 0.86;
}

@media (prefers-reduced-transparency: reduce) {
  .Animation::after {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .Animation::before,
  .Animation::after {
    animation: none;
  }
}

@media print {
  .Animation {
    padding-top: 0;
    height: 0;
  }

  .Animation::before,
  .Animation::after {
    animation: none;
    content: none;
  }
}

@keyframes first-before {
  0% {
    border: 1rem solid #ab9df2;
  }

  20% {
    border: 3rem solid #78dce8;
    animation-duration: 12s;
  }

  22% {
    border: 1rem solid #ab9df2;
    transform: translate(-1rem, -1rem);
  }

  23% {
    transform: translate(10rem, -3rem);
  }

  23.25% {
    border: 3rem solid #78dce8;
    transform: translate(-1rem, -1rem);
  }

  23.5% {
    border: 1rem dashed #a9dc76;
  }

  28% {
    border: 1rem dotted #ffd866;
  }

  30% {
    border: 0.5px double #ff6188;
  }

  40% {
    border: 1rem solid #a9dc76;
  }

  41% {
    border: 1rem solid #a9dc76;
    border-top-left-radius: 50rem;
    transform: translate(-1rem, -1rem);
  }

  42% {
    border: 1rem solid #a9dc76;
    transform: translate(-1rem, -1rem) rotate(3deg) skew(-3rem);
  }

  43% {
    border: 1rem solid #a9dc76;
    border-top-left-radius: 0;
    transform: translate(-1rem, -1rem);
  }

  60% {
    border: 1rem solid #ffd866;
  }

  80% {
    border: 0.5px solid #ff6188;
  }
}

@keyframes first-after {
  0% {
    border: 1rem solid #ff6188;
  }

  20% {
    border: 3rem solid #ffd866;
    border-bottom-right-radius: 0;
  }

  40% {
    border: 1rem solid #a9dc76;
    border-bottom-right-radius: 2rem;
  }

  41% {
    border: 3rem solid #75715e;
    border-bottom-right-radius: 0;
    transform: translate(1rem, 1rem);
  }

  42% {
    border: 1rem solid #a9dc76;
    transform: rotate(3.14deg);
  }

  49% {
    transform: translate(1rem, 1rem);
  }

  60% {
    border: inset 1rem solid #78dce8;
    background-color: #a9dc7600;
  }

  62% {
    border: inset 0.2rem solid #a9dc76;
    background-color: #a9dc76ff;
  }

  64% {
    border: 1rem solid #78dce8;
    background-color: #a9dc7600;
  }

  66% {
    border: 1.2rem solid #ab9df2;
  }

  68% {
    border: 1rem solid #ffd866;
  }

  69% {
    border: 1rem solid #75715e;
  }

  70% {
    border: 1rem solid #ffd866;
  }

  80% {
    border: 1rem solid #ab9df2;
  }
}
