.Form {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: var(--color-background-alt);
  border: 1px dashed var(--color-button-border-clickable);
  border-radius: 0.3rem;
  text-align: center;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.Form:focus-within {
  border: 1px dashed var(--color-button-border-active);
}

@media (min-width: 42em) {
  .Form {
    text-align: left;
  }
}

@media print {
  .Form {
    display: none;
  }
}

@media (min-width: 42em) {
  .Confirmed {
    text-align: center;
  }
}

.Form > * {
  display: block;
  width: 100%;
}

.Form label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.Form input {
  margin-top: 1rem;
  padding: 1rem;
  background: var(--color-background);
  border: 1px solid var(--color-background);
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0 2px var(--color-background);
  color: var(--color-text);
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.Form textarea {
  min-height: 12rem;
  margin-top: 1rem;
  padding: 1rem;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
  background: var(--color-background);
  border: 1px solid var(--color-background);
  border-radius: 0.3rem;
  color: var(--color-text);
  box-shadow: inset 0 0 0 2px var(--color-background);
  transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out, box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.Form input::placeholder,
.Form textarea::placeholder {
  color: var(--color-text);
  transition: color 0.2s ease-out;
}

.Form input:hover,
.Form input:focus {
  outline: none;
  border: 1px solid #78dce8;
  box-shadow: inset 0 0 0 2px #78dce8;
  transform: scale(1.025);
}

.Form textarea:hover,
.Form textarea:focus {
  outline: none;
  border: 1px solid #ff6188;
  box-shadow: inset 0 0 0 2px #ff6188;
  transform: scale(1.025);
}

.Form button {
  margin-top: 1rem;
  line-height: 3rem;
  background: #ffd866;
  letter-spacing: 1px;
  border: 1px solid #ffd866;
  border-radius: 0.3rem;
  text-transform: uppercase;
  transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

.Form button:hover,
.Form button:active,
.Form button:focus {
  outline: none;
  border: 1px solid #a9dc76;
  box-shadow: inset 0 0 0 2px #a9dc76;
  transform: scale(1.025);
}

.ValidationError {
  padding: 0.3rem 0;
  color: #ff6188;
  font-weight: bold;
  text-align: left;
}
