
.Container {
  background: var(--color-background-alt);
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.Inner {
  width: calc(100% - 4rem);
  max-width: 42em;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Inner > li {
  margin-top: 1rem;
  list-style: none;
}

.Inner > li > a {
  text-decoration-color: transparent;
}

.Inner > li > a:hover,
.Inner > li > a:focus {
  color: var(--color-header-active);
  text-decoration-color: var(--color-header-active);
}

.Inner > li:last-of-type > a {
  text-decoration-color: var(--color-link-active);
}

.Inner > li:last-of-type > a:hover,
.Inner > li:last-of-type > a:focus {
  color: var(--color-link-active);
  text-decoration-color: var(--color-link-active);
}

@media (min-width: 42em) {
  .Inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: justify;
  }

  .Inner > li {
    flex: 1;
  }

  .Inner > li:first-of-type {
    flex: 1;
    text-align: left;
  }

  .Inner > li:last-of-type {
    flex: 1;
    text-align: right;
  }
}

.Inner i {
  margin-right: 0.3em;
}
