*,
* > * {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 42em) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  background: #272822;
  color: #f8f8f2;
  font-family:
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.618rem;
}

::selection {
  background: #ff6188;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
  font-weight: 600;
  line-height: 0.618em;
}

h1 {
  font-size: 1.8em;
}

article {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  line-height: 48px;
}

@media screen and (min-width: 42em) {
  ul {
    display: inline-block;
    padding-left: 1.2em;
    list-style-type: disc;
    min-width: 50%;
  }
}

a {
  color: #f8f8f2;
  text-decoration-style: solid;
  text-decoration-color: #75715e;
  text-decoration-thickness: 2px;
  font-weight: normal;
  line-height: 48px;
  display: inline-block;
  transition: text-decoration-color 0.2s ease-out, color 0.2s ease-out;
}

a:hover,
a:focus,
a:focus-within {
  font-weight: 600;
  color: #78dce8;
  text-decoration-color: #78dce8;
}

details {
  position: relative;
}

details::after {
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  content: '+ Expand';
}

details[open]::after {
  content: '- Collapse';
}

details summary {
  margin-top: 1rem;
  cursor: pointer;
}

details summary::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

a:focus,
details summary:focus,
button:focus {
  outline: 2px solid #ffd866;
}

dl {
  width: 100%;
  margin: 0;
  padding: 0;
}

dl dt,
dl dd {
  display: inline-block;
  max-width: 50%;
  margin: 0;
  padding: 0;
}
