:root {
  /* Utilities */
  --border-radius: 0.3rem;
  --border-thickness: 0.125rem;
  --text-spacing: 0.063rem;
  --animation-speed: 200ms;
  --animation-bezier: ease-out;

  /* Colours */
  --color-background: #f8f8f2;
  --color-background-alt: #fff;
  --color-text: #272822;
  --color-hint: #75715e;
  --color-selection: #ff6188;
  --color-highlight: #fc9867;
  --color-link: #75715e;
  --color-header-active: #78dce8;
  --color-link-visited: #ab9df2;
  --color-link-active: #ab9df2;
  --color-link-focus: #ff6188;
  --color-button-clickable: #78dce8;
  --color-button-active: #ff6188;
  --color-button-border-clickable: #a9dc7600;
  --color-button-border-active: #fc9867ff;
}

.theme-dark {
  --color-background: #272822;
  --color-background-alt: #373831;
  --color-text: #f8f8f2;
  --color-hint: #c9c4ac;
  --color-selection: #ff6188;
  --color-highlight: #ab9df2;
  --color-link: #75715e;
  --color-header-active: #ab9df2;
  --color-link-visited: #ab9df2;
  --color-link-active: #78dce8;
  --color-link-focus: #ffd866;
  --color-button-clickable: #a9dc76;
  --color-button-active: #ffd866;
  --color-button-border-clickable: #a9dc7600;
  --color-button-border-active: #fc9867ff;
}

@media print, monochrome, (light-level: washed) {
  :root,
  .theme-dark {
    --color-background: #fff;
    --color-background-alt: #fff;
    --color-text: #000;
    --color-hint: #75715e;
    --color-selection: #fff;
    --color-highlight: #fff;
    --color-link: #000;
    --color-link-visited: #272822;
    --color-header-active: #272822;
    --color-link-active: #75715e;
    --color-link-focus: #75715e;
    --color-button-clickable: #272822;
    --color-button-active: #75715e;
    --color-button-border-clickable: #75715e00;
    --color-button-border-active: #75715eff;
  }
}

*,
* > *,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  * > *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

[tabindex=-1] {
  outline: var(--border-thickness) solid transparent;
}

html {
  width: 100%;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-text);
  font-size: 1rem;
  font-family:
    system,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.618rem;
  background: var(--color-background);
  transition: background-color var(--animation-speed) var(--animation-bezier), color var(--animation-speed) var(--animation-bezier);
  font-variant-ligatures: common-ligatures;
}

::selection {
  color: white;
  background: var(--color-selection);
  transition: background-color var(--animation-speed) var(--animation-bezier);
}

blockquote,
em,
figcaption,
q {
  font-family:
    "Palatino Linotype",
    Palatino,
    Palladio,
    "URW Palladio L",
    "Book Antiqua",
    Baskerville,
    "Bookman Old Style",
    "Bitstream Charter",
    "Nimbus Roman No9 L",
    Garamond,
    "Apple Garamond",
    "ITC Garamond Narrow",
    "New Century Schoolbook",
    "Century Schoolbook",
    "Century Schoolbook L",
    Georgia,
    serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: inherit;
}

code,
kbd,
dd,
li,
cite,
dfn,
pre,
i,
samp,
textarea,
input {
  font-weight: lighter;
  font-family:
    Hack,
    "DejaVu Sans Mono",
    "Source Code Pro",
    "Fira Code",
    "Space Mono",
    "Droid Sans Mono",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: inherit;
}

abbr {
  text-decoration: none;
}

@media screen and (pointer) and (hover: hover) {
  abbr {
    display: inline-block;
    margin: -0.25em;
    padding: 0.25em;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: var(--border-thickness);
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    background: transparent;
    border-radius: var(--border-radius);
    cursor: help;
    transition: background-color var(--animation-speed) var(--animation-bezier);
  }

  abbr:hover {
    background: var(--color-highlight);
    text-decoration-color: var(--color-highlight);
  }
}

a abbr {
  display: inline;
  text-decoration-style: dotted;
}

a:hover abbr {
  text-decoration: none;
  text-decoration-style: solid;
  text-decoration-skip: inherit;
  text-decoration-skip-ink: inherit;
  background: transparent;
}

header,
footer,
article,
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media print {
  article,
  section {
    page-break-inside: avoid;
  }
}

i {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  margin-left: -1.5em;
  font-size: 1em;
  text-align: right;
  vertical-align: baseline;
}

i svg {
  width: 100%;
  max-height: 100%;
}

@media (min-width: 42em) {
  i {
    display: block;
    float: left;
    font-size: 0.8em;
  }
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: var(--border-thickness);
  outline: var(--border-thickness) solid transparent;
  transition: outline var(--animation-speed) var(--animation-bezier), color var(--animation-speed) var(--animation-bezier), font-weight var(--animation-speed) var(--animation-bezier), text-decoration var(--animation-speed) var(--animation-bezier);
}

a:hover,
a:focus {
  color: var(--color-header-active);
  font-weight: bold;
  text-decoration-color: var(--color-header-active);
}

a:focus {
  outline: var(--border-thickness) solid var(--color-link-focus);
}

h1 a,
h2 a,
h3 a {
  text-decoration-color: #0000;
}

h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus {
  color: var(--color-link-active);
  text-decoration-color: var(--color-link-active);
}

ul li a {
  display: inline-block;
  color: inherit;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
  font-weight: bold;
  line-height: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h1 + p {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2em;
  font-style: italic;
}

@media print {
  h1 + p::after {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: var(--text-spacing);
    content: 'https://piprees.dev/';
  }
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  display: block;
  list-style-type: none;
}

ul li + li {
  margin-top: 1rem;
}

@media (min-width: 42em) {
  ul {
    padding-left: 1.2em;
  }

  ul li {
    display: list-item;
    list-style-type: disc;
  }
}

@media print {
  ul li a {
    font-weight: bold;
    text-decoration: none;
  }

  ul li a::after {
    display: block;
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
    line-height: 1rem;
    letter-spacing: var(--text-spacing);
    content: attr(href);
  }
}
