:root {
  --color-background: #f8f8f2;
  --color-background-alt: #fff;
  --color-text: #272822;
  --color-selection: #ff6188;
  --color-link: #75715e;
  --color-header-active: #78dce8;
  --color-link-visited: #ab9df2;
  --color-link-active: #ab9df2;
  --color-link-focus: #ff6188;
  --color-button-clickable: #78dce8;
  --color-button-active: #ff6188;
  --color-button-border-clickable: #a9dc7600;
  --color-button-border-active: #ff6188ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #272822;
    --color-background-alt: #373831;
    --color-text: #f8f8f2;
    --color-selection: #ff6188;
    --color-link: #75715e;
    --color-header-active: #ab9df2;
    --color-link-visited: #ab9df2;
    --color-link-active: #78dce8;
    --color-link-focus: #ffd866;
    --color-button-clickable: #a9dc76;
    --color-button-active: #ffd866;
    --color-button-border-clickable: #a9dc7600;
    --color-button-border-active: #ffd866ff;
  }
}

.theme-light {
  --color-background: #f8f8f2;
  --color-background-alt: #fff;
  --color-text: #272822;
  --color-selection: #ff6188;
  --color-link: #75715e;
  --color-header-active: #78dce8;
  --color-link-visited: #ab9df2;
  --color-link-active: #ab9df2;
  --color-link-focus: #ff6188;
  --color-button-clickable: #78dce8;
  --color-button-active: #ff6188;
  --color-button-border-clickable: #a9dc7600;
  --color-button-border-active: #ff6188ff;
}

.theme-dark {
  --color-background: #272822;
  --color-background-alt: #373831;
  --color-text: #f8f8f2;
  --color-selection: #ff6188;
  --color-link: #75715e;
  --color-header-active: #ab9df2;
  --color-link-visited: #ab9df2;
  --color-link-active: #78dce8;
  --color-link-focus: #ffd866;
  --color-button-clickable: #a9dc76;
  --color-button-active: #ffd866;
  --color-button-border-clickable: #a9dc7600;
  --color-button-border-active: #ffd866ff;
}

@media print, monochrome, (light-level: washed) {
  :root {
    --color-background: #fff;
    --color-background-alt: #fff;
    --color-text: #000;
    --color-selection: #fff;
    --color-link: #000;
    --color-link-visited: #272822;
    --color-header-active: #272822;
    --color-link-active: #75715e;
    --color-link-focus: #75715e;
    --color-button-clickable: #272822;
    --color-button-active: #75715e;
    --color-button-border-clickable: #75715e00;
    --color-button-border-active: #75715eff;
  }
}

*,
* > *,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  * > *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

[tabindex=-1] {
  outline: 2px solid transparent;
}

html {
  width: 100%;
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-text);
  font-size: 1rem;
  font-family:
    system,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.618rem;
  background: var(--color-background);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  font-variant-ligatures: common-ligatures;
}

::selection {
  color: white;
  background: var(--color-selection);
  transition: background-color 0.2s ease-out;
}

em,
q,
blockquote,
figcaption {
  font-family:
    "Palatino Linotype",
    Palatino,
    Palladio,
    "URW Palladio L",
    "Book Antiqua",
    Baskerville,
    "Bookman Old Style",
    "Bitstream Charter",
    "Nimbus Roman No9 L",
    Garamond,
    "Apple Garamond",
    "ITC Garamond Narrow",
    "New Century Schoolbook",
    "Century Schoolbook",
    "Century Schoolbook L",
    Georgia,
    serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: inherit;
}

code,
abbr,
kbd,
dd,
li,
cite,
dfn,
pre,
i,
samp,
textarea,
input {
  font-weight: lighter;
  font-family:
    Hack,
    "DejaVu Sans Mono",
    "Source Code Pro",
    "Fira Code",
    "Space Mono",
    "Droid Sans Mono",
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: inherit;
}

article,
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media print {
  article,
  section {
    page-break-inside: avoid;
  }
}

a {
  color: inherit;
  outline: 2px solid transparent;
  transition: outline 0.2s ease-out, color 0.2s ease-out, text-decoration-color 0.2s ease-out;
}

h1 a,
h2 a,
h3 a {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
}

ul li a {
  display: inline-block;
  color: inherit;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 2px;
}

a:focus {
  outline: 2px solid var(--color-link-focus);
}

h1,
h2,
h3,
h4,
h5,
h6,
dt,
th {
  font-weight: bold;
  line-height: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h1 + p {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2em;
  font-style: italic;
}

@media print {
  h1 + p::after {
    display: block;
    margin-top: 12px;
    font-size: 1rem;
    font-style: normal;
    letter-spacing: 1px;
    content: 'https://piprees.dev/';
  }
}

h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus {
  color: var(--color-header-active);
  text-decoration-color: var(--color-header-active);
}

h1 a i,
h2 a i,
h3 a i {
  margin-right: 0.3em;
  margin-left: -1em;
  color: var(--color-link);
  font-size: 0.8em;
  transition: color 0.2s ease-out, text-decoration-color 0.2s ease-out;
}

h1 a:hover i,
h1 a:focus i,
h2 a:hover i,
h2 a:focus i,
h3 a:hover i,
h3 a:focus i {
  color: var(--color-header-active);
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  display: block;
  list-style-type: none;
}

ul li + li {
  margin-top: 1rem;
}

@media (min-width: 42em) {
  ul {
    padding-left: 1.2em;
  }

  ul li {
    display: list-item;
    list-style-type: disc;
  }
}

ul li a:visited {
  text-decoration-color: var(--color-link-active);
}

@media print {
  ul li a {
    font-weight: bold;
    text-decoration: none;
  }

  ul li a::after {
    display: block;
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
    line-height: 1rem;
    letter-spacing: 1px;
    content: attr(href);
  }
}

ul li a:hover,
ul li a:focus,
ul li a:focus-within {
  color: var(--color-link-active);
  font-weight: bold;
  text-decoration-color: var(--color-link-active);
}
