.Wrapper {
  position: absolute;
  top: calc(100vh - 18rem);
  right: 2rem;
}

@media (min-width: 26em) {
  .Wrapper {
    top: calc(100vh - 13rem);
  }
}

@media (min-width: 42em) {
  .Wrapper {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.Toggle {
  width: 3rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background: var(--color-background-alt);
  border: 1px solid var(--color-background-alt);
  border-radius: 0.3rem;
  transition: transform 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.Toggle:focus {
  outline: 1px solid var(--color-link-focus);
}

.Toggle:hover {
  border: 1px solid var(--color-link-focus);
  transform: scale(1.1);
}
