
body {
  color: #f8f8f2;
  background: #272822;
}

.selected {
  background: #49483e;
}

.gutters {
  background: #272822;
  border-right: 0;
}

.linenumber {
  color: #d0d0d0;
}

::selection {
  background: #373831;
  border-left: 1px solid #f8f8f0;
}

::selection::first-letter {
  color: white;
  text-decoration: underline;
}

.comment {
  color: #75715e;
}

.atom {
  color: #ab9df2;
}

.number {
  color: #ab9df2;
}

.attribute {
  color: #a9dc76;
}

.keyword {
  color: #ff6188;
}

.string {
  color: #ffd866;
}

.variable {
  color: #a9dc76;
}

.class {
  color: #78dce8;
}

.definition {
  color: #fc9867;
}

.bracket {
  color: #f8f8f2;
}

.tag {
  color: #ff6188;
}

.Link {
  color: #ab9df2;
}

.Error {
  color: #f8f8f0;
  background: #ff6188;
}
