.Tabs {
  margin-top: 1rem;
}

.Tab {
  position: relative;
  width: 100%;
}

.TabLabel {
  display: block;
  padding: 0 2rem;
  cursor: pointer;
}

@media (min-width: 42em) {
  .TabLabel {
    padding: 0 2rem 0 0;
  }
}

.TabLabel::after {
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
  display: block;
  padding: 1rem;
  color: var(--color-button-clickable);
  font-size: 2rem;
  text-align: right;
  border: var(--border-thickness) dashed transparent;
  border-radius: var(--border-radius);
  transition: color var(--animation-speed) var(--animation-bezier), border-color var(--animation-speed) var(--animation-bezier);
  content: "+";
}

@media screen and (pointer) and (hover: hover) {
  .TabLabel::after {
    border: var(--border-thickness) dashed var(--color-button-border-clickable);
  }
}

@media screen and (pointer) and (hover: hover) {
  .TabLabel:hover::after,
  .Tab input:focus + .TabLabel::after {
    color: var(--color-button-active);
    border: var(--border-thickness) dashed var(--color-button-border-active);
    animation: bouncepadding 0.5s ease-in-out infinite forwards;
  }
}

@media screen and (pointer) and (hover: hover) {
  .Tab input:checked:focus + .TabLabel::after {
    animation: none;
  }
}

.TabContent {
  max-height: 0;
  padding: 0 2rem;
  overflow: hidden;
  transition: max-height var(--animation-speed) var(--animation-bezier);
}

@media (min-width: 42em) {
  .TabContent {
    padding: 0 2rem 0 0;
  }
}

@media print {
  .TabContent {
    max-height: 100vh;
  }
}

.Tab input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.Tab input:checked + .TabLabel::after {
  content: '−';
}

.Tab input:checked + .TabLabel + .TabContent {
  max-height: 100vh;
}

@media print {
  .Tab input {
    display: none;
  }
}

@keyframes bouncepadding {
  0% {
    padding: 1rem;
  }

  50% {
    padding: 0.8rem 1rem 1.2rem;
  }

  100% {
    padding: 1rem;
  }
}
